<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Music News</title>
      <link rel="stylesheet" type="text/css" href="bin/css/main.css">
      <script src="bin/vendor/bundle.js"></script>
      <script src="bin/js/main.js"></script>
  </head>

  <body ng-controller="root.controller">

    <nav style="position: absolute; top: 0">
      <div id="logo-menu">
        <div class="fw row">
          <div class="logo col span_4_of_12">
            <a href="#">MusicNewsLogo</a>
          </div>
          <div class="hmbg-logo icon-menu-outline col span_10_of_12"></div>
          <ul class="col span_6_of_12 main-menu" menu-block="dataMenu"></ul>
          <div class="search col span_2_of_12">
            <div class="search-container">
              <form><input ng-model="search" type="search" placeholder="Search"></form>
            </div>
          </div>
        </div>
      </div>  

      <div class="dark-header fw row">
        <div id="department" class="col span_12_of_12">
            <div class="content">
                <a href="#"><h1>MUSIC NEWS</h1></a>
            </div>
        </div>

        <div id="primary-nav">
          <div class="content col span_12_of_12">
            <div class="hmbg-news icon-menu-outline"></div>
            <ul class="menu-news" data-filter="dataFilter">
            </ul>
          </div>
        </div>
        <div data-point-block="dataPoint"></div>
      </div>
    </nav>

    <main>
        <div class="content fw row flex">
          <div class="sidebar-hider">
            <span class="icon-indent-left" ng-click="root.sidebarHandler($event)"></span>
          </div>
          <div ui-view="viewA" class="col span_9_of_12"></div>	
          <div ui-view="viewB"
          class="sidebar sidebar-hidden"
          ng-click="root.sidebarClick($event)"
          style="position: absolute; right: 0;">
          </div>                 
        </div>
    </main>

  </body>
</html>