.int-menu-list{
    color: #2d303a;
    font-weight: 500;
}
.int-menu-list:hover{
    color: #1167a8;
    cursor: pointer;
}

.div-dots-drop-down{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    background-color: #216477;
    color: white;
    text-align: center;
}

.div-int-menu-text{
    font-family: Arial;
    font-size: 16px;
    color: #0b0b0a;
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    margin: 20px;
    cursor: hand;
}

.div-drop-down-block{
    position: absolute;
    background-color: #216477;
    color: white;
    border: none;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
    transition: .2s;
    display: none;
}
.div-drop-down-block:hover{
    background-color: #216477;
    color: white;
    cursor: pointer;
}
.div-drop-down-block.active {
    display: block;
}

.li-interview-prew{
    font-family: Arial;
    font-size: 14px;
    color: #216477;
    font-style: italic;
}
.li-interview-prew:hover{
    color: #771837;
    font-style: italic;
    cursor: pointer;
}
.li-interview-prew-artist{
    font-family: Arial;
    font-size: 12px;
    color: #313131;
    font-style: italic;
}
.back-btn {
    font-size: 20px;
    cursor: pointer;
}