@import url(12cols.css);
@import url(fontello.css);

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
a {
  color: #216477;
  text-decoration: none;
}

.fw {
    width: 1150px;
    max-width: 90%;
    margin: auto;
}
nav a {
  display: block;
}
.main-menu a {
  text-align: center;
}
.underlined {
  border-bottom: 4px solid #216477;
}
#logo-menu li a:hover {
  border-bottom: 4px solid #216477;
}
#primary-nav .underlined:hover {
  border-bottom-color: white;
}
#logo-menu {
  border-bottom: 1px solid #ccc;
  position: relative;
}
#logo-menu .content {
  display: table;
  width: 100%;
}
.main-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul {
  padding-left: 0;
  margin-left: 0;
}
.main-menu li {
  display: table-cell;
  vertical-align: top;
  line-height: 40px;
  border-right: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
}
.logo {
  display: table-cell;
  vertical-align: top;
  line-height: 40px;
  font-weight: bold;
  font-size: 14px;
}
.main-menu li:first-child {
  border-left: 1px solid #ccc;
}
.logo {
  box-sizing: border-box;
}
.search {
    
}
.search-container {
  margin: 8px 0;
  height: 24px;
  background: #e4e4e4;
}
.search-container input,
.search-container img {
  vertical-align: top;
}
.search-container input {
  background: transparent;
  border: none;
  width: 100%;
  padding: 0 0 0 5px;
  line-height: 24px;
  font-weight: bold;
}
.search-button {
  display: inline-block;
  height: 24px;
  width: 24px;
  text-align: center;
}
.search-button img {
  margin-top: 4px;
  vertical-align: top;
}
#logo-menu li a {
  height: 36px;
  padding: 0 15px;
}
nav .dark-header {
  background-color:#216477;
  position: relative;
}
#department,
#primary-nav {
  color: white;
}
#department a {
  color: white;
  display: inline-block;
}
#department h1 {
  display: inline-block;
  margin: 0;
  padding: 3px 0;
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: normal;
}
#primary-nav {
  border-top: 1px solid rgba(255,255,255,0.3);
}
#primary-nav .content {
  display: table;
  width: 100%;
  position: relative;
}
.menu-news {
  display: table-row;
}

.menu-news li {
  display: table-cell;
  position: relative;
}
#primary-nav li:after {
  content: '';
  width: 1px;
  height: 18px;
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  top: 8px;
  right: 0px;
}
#primary-nav li:last-child:after {
  content: none;
}

#primary-nav ul li:last-child a:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  content: '';
  height: 0;
  position: relative;
  right: -10px;
  top: 11px;
  width: 0;
}
#primary-nav a {
  font-size: 15px;
  color: white;
  padding: 8px 12px;
  max-height: 16px;
}
#primary-nav .active {
  border-bottom-color: white;
}



main {
  margin-top: 20px;
}
main .content {
  position: relative;
}
main .sidebar {
  box-sizing: border-box;
}
main article h2 {
  font-size: 2em;
  margin: 10px 0;
  color: black;
}
main article a:hover h2 {
  color: #216477;
}
main article p {
  color: #5a5a5a;
  line-height: 1.2em;
  font-size: 0.9em;
}

.article-image img {
  max-width: 400px;
  width: 100%;
}

.sidebar {
  border-left: 1px solid #eee;
}
iframe {
  width: 100%;
}
.sidebar h2 {
  margin-top: 0;
  font-weight: normal;
}
.sidebar article {
  min-height: 60px;
}
.sidebar article h3 {
  font-size: 1em;
}
.sidebar article a:hover h3 {
  color: #1167a8;
}
.sidebar .image {
  position: relative;
  margin-right: 10px;
  float: left;
}
.sidebar .image .time {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 8px 6px 20px;
  background: white;
  font-size: 0.8em;
}
.sidebar .image .time:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid black;
}
.post-data {
	font-size: 0.85em;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/* Three dots button *********************/
.project-info {
    position: absolute;
    top: 5px;
    right: 5px;
}
.project-info__btn {
    background: none;
    border: 0 none;
    cursor: pointer;
}
.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
}
.project-info__data {
	display: none;
	position: absolute;
	top: 20px;
	right: -5px;
	z-index: 2;
}
.project-info__data-item {
	width: 120px;
	padding: 10px;
	border: 1px solid #216477;
	border-bottom: none;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
}
.project-info__data-item:last-child {
    border-bottom: 1px solid #216477;
}
.bounce-animation {
	animation: bounce 1s;
	visibility: visible;
}
button, 
button:active, 
button:focus {
    outline: none;
}
@keyframes bounce {
    0% {
		opacity: 0;
		transform: translateY(100%);
    } 
    100% {
		transform: translateY(0%);
    }
}